<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")

body
	div.container
		button.btn.btn-primary primary
		button.btn.btn-success success
		button.btn.btn-info info
		button.btn.btn-warning warning
		button.btn.btn-danger danger
		button.btn.btn-default default

	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js")
	script(src="assets/javascripts/app.js")